{% extends 'base.html' %} {% block content %}
    <span>
        <div style="width:80%; position:absolute; left:5%;">
            <h1 class="title">Welcome</h1>
            <p>This is a showcase <strong>Student classroom project</strong> that connects data management using SQL (SQLite / SQLAlchemy), 
                Python + Flask for web application management and basic html websites. 
                The project involves functionalities of:</p>
            <span style="color:cadetblue">
                <li>Running a Flask server</li>
                <li>Creating a database with various data types</li>
                <li>Displaying all data positions in a website</li>
                <li>Displaying single data position in a website</li>
                <li>Adding new data positions on a website</li>
                <li>Editing data positions on a website</li>
                <li>Deleting data positions on a website</li>
            </span>
            <p> <i> The project was created by<strong> Adam Zuba</strong> with use of a dedicated Digital Ocean online tutorial.</i></p>
        </div>
    </span>
{% endblock %}
